@font-face {
    font-family: 'cmu_brightroman';
    src: url('fonts/cmunbmr-webfont.eot');
    src: url('fonts/cmunbmr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cmunbmr-webfont.woff2') format('woff2'),
         url('fonts/cmunbmr-webfont.woff') format('woff'),
         url('fonts/cmunbmr-webfont.ttf') format('truetype'),
         url('fonts/cmunbmr-webfont.svg#cmu_brightroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: rgb(255, 255, 255);
}

.bloc_page
{
	font-family: 'cmu_brightroman';
	max-width: 44%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 4px 10px rgb(112, 112, 112);
	height: auto;
}

.liseret
{
	background-color:rgb(255, 208, 1);
	width: 10.5rem;
	text-align: left;
	vertical-align: top;
	color: rgb(63, 62, 62);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: auto;
}

.photo_identite
{
	max-width: 9rem;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border: 3px solid rgb(202, 173, 5);
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 auto;
	top: 25px;
}

.photo_identite:hover
{
	border: 2px solid white;
	box-shadow: 0 0 10px rgb(0, 0, 0);
}

h1
{
	text-align: left;
	text-transform: uppercase;
	color: rgb(255, 208, 1);
	font-size: 2em;
}

h1 span
{
	color: rgb(0, 0, 0);
	font-weight: normal;
}

h2
{
	text-align: left;
	color: rgb(63, 62, 62);
	margin-top: -20px;
	font-size: 1.1em;
}

h3
{
	text-align: left;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	font-size: 1em;
}

h3:hover
{
	color: rgb(255, 208, 1);
	font-weight: bold;
}

h4
{
	text-align: center;
	background-color: rgb(63, 62, 62);
	text-transform: uppercase;
	color: rgb(255, 208, 1);
	padding: 5px;
	font-size: 1.3em;
}

#titre1:hover, #titre2:hover, #titre3:hover
{
	text-shadow: 0 2px 4px black;
	color: rgb(255, 255, 255);
}

h4:hover
{
background-color: gray;
}

.conteneur
{
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin-bottom: 20px;
	flex-grow: 2;
	justify-content: center;
}

.parcourt
{
	margin-top: 65px;
	margin-left: 9%;
	width: 445px;

}

.ico_formation, .ico_business, .ico_recommandations
{
	width: 35px;
	height: auto;
	vertical-align: middle;
	margin-right: 20px;
}

.ico_actuel
{
	width: 15px;
	height: auto;
	vertical-align: middle;
	margin-right: 20px;
	align-items: flex-start;
}

.ico_ancien
{
	width: 8px;
	height: auto;
	vertical-align: middle;
	margin-right: 20px;
	align-items: flex-start;
}

#adress, #tel, #email, #site, #skype, #text1
{
	padding-left: 30px;
	padding-right: 30px;
}

header
{
	display: flex;
	flex-direction: column;
	margin-left: 9%;
	margin-top: 50px;
}

#formation
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#experience
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

#recommandations
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

#contact
{
	margin-top: 20px;
	flex-grow: 0;
}

#apropos
{
	flex-grow: 1;
}
#loisirs
{
	bottom: 0px;
	position: relative;
	flex-grow: 0;
}

#contact, #apropos, #loisirs
{
	font-size: 0.7em;
}

#icons
{
	padding-bottom: 25px;
	display: flex;
	justify-content: space-around;
}

.natation, .vtt, .ping_pong
{
	width: 40px;
	height: auto;
	background-repeat: no-repeat;
}

.trait_dessous_develo
{
	width: 43px;
	position: relative;
	top: -16px; left: 0px;
	border: 0.1px solid rgb(255, 208, 1);
}

.trait_dessous_formation
{
	width: 93%;
	position: relative;
	top: -18px; left: 0px;
	border: 0.1px solid rgb(255, 208, 1);
	margin-right: 20px;
}

.trait_dessous_experience
{
	width: 92%;
	position: relative;
	top: -18px; left: 0px;
	border: 0.1px solid rgb(255, 208, 1);
}

.trait_dessous_recommandations
{
	width: 92%;
	position: relative;
	top: -18px; left: 0px;
	border: 0.1px solid rgb(255, 208, 1);
}

.dates_detail
{
	display: flex;
	justify-content: space-between;
	vertical-align: top;
}

.icons_left
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.petite
{
	margin-top: 25px;
	flex-grow: 0.9;
	width: 145px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: rgb(63, 62, 62);
	text-align: left;
	font-size: 0.7em;
}

.grande
{
	margin-top: 25px;
	flex-grow: 2;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: rgb(63, 62, 62);
	text-align: left;
	font-size: 0.7em;
	padding-right: 22px;
}

.grande strong
{
	text-transform: uppercase;
}

@media all and (max-width: 480px)
{
	header {min-width: 100%;}
	.liseret {min-width: 100%;}
	.conteneur {min-width: 100%; margin-bottom: 50px;}
	.bloc_page{flex-direction: column-reverse; min-width: 100%; box-shadow: 0 3px 6px black;}
	body {max-width: 480px;}
	#icons {height: 80px;}
	.photo_identite {max-width: 13rem; top: 50px;}
	h4 {font-size: 2em; padding: 10px;}
	#contact { margin-top: 45px;}
	.natation, .vtt, .ping_pong {width: 50px; height: auto;}
	#apropos {height: 400px;}
}

@media all and (min-width: 481px) and (max-width: 699px)
{
	header {min-width: 100%;}
	.liseret {min-width: 100%;}
	.conteneur {min-width: 100%; margin-bottom: 50px;}
	.bloc_page{flex-direction: column-reverse; min-width: 100%; box-shadow: 0 3px 6px black;}
	body {max-width: 699px;}
	#icons {height: 100px;}
	.parcourt {min-width: 90%;}
	.photo_identite {max-width: 15rem; top: 50px; bottom: 50px;}
	#contact { margin-top: 55px;}
	h4 {font-size: 2em; padding: 10px;}
	.natation, .vtt, .ping_pong {width: 70px; height: auto;}
	#apropos {height: 400px;}
}